---
layout: default
title: /risk/galerija
active: galerija
styles:
    - /assets/css/galleryStyle.css
scripts:
    - /assets/js/anime.min.js
---
<div class = "container">
  <div class='desktop-layout d-none d-md-block'>
    <div class="row">
        <div class='col-5'>
            {% for it in (0..site.photos.size) %}
                <div class='album'
                     onclick='onAlbumClicked({{it}})'
                >
                    {{site.photos[it].name}}
                </div>
                <div class='album-underline'></div>
            {% endfor %}

        </div>


        <div class='col'>
            <div class='row'>
                <div class='col' id='main_image'>
                    <img width='100%' src='{{site.photos[0].images[0].path}}'>
                </div>
            </div>

            <div class='row justify-content-between' id='other_images'>
                {% for img in site.photos[0].images %}
                <div class='col-3 mt-2'>
                    <div class='img img-thumbnail' style='background-image: url("{{img.path}}")'></div>
                </div>
                {% endfor %}

            </div>

            </div>
        </div>
    </div>
  </div>

    <div class='mobile-layout d-md-none d-sm-block'>
        <div class="row">
            <div class='col'>
                Hi this is mobile, watch your step constructions in progress!
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
    albums = [
		{% for album in site.photos %}
        {
        	name:'{{album.name}}',
            images:[
                {%for img in album.images%}
                    '{{img.path}}',
                {%endfor%}
            ]
        },
        {% endfor%}
    ];

</script>

<script type='text/javascript' src='/assets/js/galleryScript.js'></script>