---
layout: default
title: /risk/galerija
active: galerija
---
<!--
  za stavljanje custom boje panel heading-a:
  panel-default umesto panel-primary">
  dodati style="background-image: none; background-color: boja" u panel-heading element
-->
{% for album in site.photos %}
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="text-center" style="margin-top:2px">{{ album.name }}</h1>
        <h5 class="text-center">{{ album.date | date: "%-d/%-m/%Y" }}</h5>
      </div>
      <div class="panel-body">
          {% for image in album.images %}
            <div class="crop col-md-4">
              <img src="{{image.path}}" alt="{{image.desc}}" class="img-responsive img-fluid">
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
