---
layout: default
title: /risk/galerija
active: galerija
---
<div class = "container">
  <div class="row justify-content-center">
    <!-- Carousel -->
    <div id="carousel-gallery" class="carousel slide w-75" data-ride="carousel">
      <div class="carousel-inner">
        <!-- outer loop -->
        {% for album in site.photos reversed %}
          {% assign outer_index = forloop.index0 %}

          {% for image in album.images %}
            {% if outer_index == 0 and forloop.index0 == 0 %} <!-- first image-->
              <div class = "carousel-item active">
                <img src="{{image.path}}" alt="{{image.desc}}"
                    class="d-block img-responsive img-fluid">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{album.name}}</h5>
                    <p>{{album.date | date: "%-d.%-m.%Y."}}</p>
                </div>
              </div>
            {% else %}
              <div class = "carousel-item justify-content-center ">
                <img src="{{image.path}}" alt="{{image.desc}}"
                    class="d-block img-responsive img-fluid">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{album.name}}</h5>
                    <p>{{album.date | date: "%-d.%-m.%Y."}}</p>
                  </div>
              </div>
            {% endif %}
          {% endfor %}

        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carousel-gallery" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-gallery" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!--carousel-->
  </div><!--row-->
</div><!--container-->