---
layout: default
title: /risk
active: pocetna
---
<div class="row">
    <div class='col-xs-12 col-md-8'>
        <div class="card">
            <h5 class="card-header">RISK</h5>
            <div class="card-body">
                <div>
                    <img width="100%" class='img-fluid' style='margin: auto; display: block' src="assets/img/risk-light-logo.png" alt='risk banner'>
                </div>
                <br>

                <p>
                    RISK predstavlja organizaciju koja za cilj ima okupljanje i edukaciju
                    studenata zainteresovanih za oblast računarstva i informatike.
                    RISK je zvanično osnovan 2015/2016 godine od strane
                    tadašnjeg studenta osnovnih studija Nemanje Mićovića sa namerom da
                    se u okviru jedne organizacije okupi grupa studenata zainteresovanih
                    za razvoj softvera, praktične projekte i rad sa novim tehnologijama.
                </p>
                <p>
                    RISK je sa svojim radom intenzivno
                    počeo školske 2016/2017 i od tada je održano preko 20 okupljanja
                    koja su bila ili u obliku mini kursa za neku od aktuelnih tema ili
                    okupljanje studenata za rad na njihovim projektima.
                    Okupljanja su uključivala obradu aktuelnih tema poput razvoja mobilnih aplikacija
                    za sistem Android, razvoj video igara kroz radni okvir Unity, blockchain i primenjena
                    kriptografksa rešenja, računarsku grafiku na Vebu i slično.
                    Trenutna fejsbuk strana broji preko 600 članova, a na okupljanima
                    su osim studenata MatF-a česti posetioci naše kolege sa ETF-a, RAF-a i FON-a,
                    a nije retkost i da kao gostujući predavači dođu predstavnici raznih kompanija.
                    Uz veliku podršku Katedre za računarstvo i informatiku
                    organizacija RISK predstavlja centralno mesto okupljanja studenata zainteresovanih
                    za dodatnu edukaciju i sticanje praktičnih znanja.
                    Vise informacija o RISK-u se može pronaći u zvaničnoj <a href="https://github.com/riskmatf/risk-media/blob/master/prezentacija/slides.pdf">prezentaciji</a>.
                    Studenti, pojedinci ili firme se zainteresovani da održe predavanje mogu se prijaviti
                    na sledećem <a href="/prijava_predavanja.html" target="_blank">formularu</a>.
                </p>
                <p>
                    Glavni organizator RISK-a je <a href="http://poincare.matf.bg.ac.rs/~nemanja_micovic/">Nemanja Mićović</a>,
                    asistent na <a href="http://www.racunarstvo.matf.bg.ac.rs">Katedri za računarstvo i informatiku</a>. U organizaciji veliku pomoć
                    pružaju studenti MatF-a Peđa Trifunov, Stevan Nestorović, Vuk Novaković i Stefan Pantić.
                    Za sva dodatna pitanja, ideje i sugestije možete se javiti na
                    <strong><a href='mailto: risk@alas.matf.bg.ac.rs.'>risk@alas.matf.bg.ac.rs</a></strong>
                    ili
                    <strong><a href='mailto: nemanja_micovic@matf.bg.ac.rs'>nemanja_micovic@matf.bg.ac.rs</a></strong>.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 m-3 col-md-4 m-md-0">
        {% assign p = site.categories.predavanja[0] %}
        <div class="row mb-3">
            <div class="card">
                <h5 class="card-header">Najskorije predavanje</h5>
                <div class="card-body">
                    <h3>{{ p.title }}</h3>
                    <p><span class="text-primary"><i class="fas fa-chalkboard-teacher"></i></span> {{p.author}}</p>
                    <p><span class="text-primary"><i class="fas fa-calendar-alt"></i></span> {{p.date | date: "%-d/%-m/%Y"}}</p>

                    <p>{{p.description | truncatewords:75}}</p>
                    {% if p.video != 'none' %}<a href="{{p.video}}" class="btn btn-primary btn-xs">Video</a> {% endif %}
                    {% if p.slides != 'none' %}<a href="{{site.assets}}data/{{p.slides}}" class="btn btn-primary btn-xs">Slajdovi</a> {% endif %}
                    {% if p.code != 'none' %}<a href="{{p.code}}" class="btn btn-info btn-xs">GitHub repozitorijum</a> {% endif %}
                </div>
            </div>
        </div>
        {% assign p = site.categories.blog[0] %}
        <div class='row'>
            <div class="card">
                <h5 class="card-header">Najskorija blog objava</h5>
                <div class="card-body">
                    <div class='col-md-12'>
                        <h3>{{ p.title }}</h3>
                        {% include blog/header.html page=p %}
                        <!--div wrapper zato što no-img klasa ne može da se primeni na <p>-->
                        <div  class="no-img">
                            <p>{{ p.content | remove_first:p.excerpt | truncatewords:75 }}</p>
                        </div>
                        <a href='{{p.url}}.html'><button class='btn btn-primary'><i class="fas fa-glasses"></i> Pročitaj</button></a>
                    </div>
                    <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
