---
layout: default
title: Okupljanja
active: okupljanja
---
<div class="row">
    <!--<div class="col-md-1"></div>-->
    <!--
    <div class="col-xs-12">
        <div class="card border-primary">
            <h5 class="card-header">SLEDEĆE OKUPLJANJE: Uvod u Amazon veb servise (AWS)</h5>
            <div class="card-body">
                <p><span class="text-primary"><i class="fas fa-chalkboard-teacher"></i></span> Miljenko Rebernišak (GoDaddy)</p>
                <p><span class="text-primary"><i class="fas fa-calendar-alt"></i></span> 19/05/2019</p>
                <p><span class='text-primary'><i class="fas fa-clock"></i></span> 13:15h-15h učionica 706
                <p>
                    Amazon Web Services (AWS) je jedan od vodećih pružalaca
                    Cloud computing usluga (računarstvo u oblaku) sa učešćem od
                    62 odsto na svetskom tržištu po nekim od dostupnih
                    statistika. AWS pruža veliki broj usluga kao što su
                    mašinsko učenje, skladištenje i održavanje baza podataka,
                    pružanje računarske infrastrukture za kompleksna
                    izračunavanja, skladištenje i čuvanje poslovnih podataka,
                    ekstrakcija teksta iz dokumenata, autentifikacija i
                    autorizacija korisnika, kontinualna integracija i mnoge
                    druge.
                <p>
                    Usled povoljnosti i kvaliteta usluge, AWS servisi se
                    izuzetno koriste u industriji od strane drugih kompanija da
                    realizuju svoje poslovanje, te je poznavanje AWS servisa
                    danas više čak i neophodna umesto dodatna veština.
                </p>

                <p>
                    AWS omogućava servise koji su dostupni u obliku gradivnih
                    blokova. Ovi gradivni blokovi mogu da se koriste za
                    pravljenje bilo koje skalabilne aplikacije u cloud-u. Na
                    predavanju ćete saznati osnove AWS-a i osnovnih gradivnih
                    blokova. Predavanje će pokriti Compute, Storage, Database,
                    Networking, Security & Identity Compliance, Messaging
                    blokove. Na kraju predavanja predviđen je demo podizanja
                    aplikacije u AWS cloud/u.
                </p>

                <p>
                    Praćenje predavanja nije uslovljeno nikakvim specifičnim predznanjem.
                </p>

                <p>
                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Poster
                </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <img style='width: 400px' class='center-block img-fluid' src='assets/img/okupljanja/meetup18_aws/poster.png'>
                    </div>
                </div>

                <a target="_blank" class='btn btn-success btn-xs' href="https://docs.google.com/forms/d/e/1FAIpQLSdPFL36DnPYA0tRZazxQyWtmwFrOD4gSsqqpIqmICzsZFWr0g/viewform?usp=sf_link&fbclid=IwAR2FU3o_II54kp97QhZDeHkqGIsHd9S_JnShGDcPANGn2AvHN6AW0IuOW8w" class="btn btn-info btn-xs">Prijava ako dolazite</a>
                <a target="_blank" href="https://github.com/riskmatf/risk-meetup-18-aws" class="btn btn-dark btn-xs"><i class='fab fa-lg fa-github'></i> GitHub repozitorijum</a>
            </div>
        </div>
    </div>
    -->

    <div class="col-xs-12">
        <!--Izlistavanje prethodnih okupljanja-->
        <br>
        {% for p in site.categories.predavanja%}
        <div class="card">
            <h5 class="card-header">{{ p.title }}</h5>
            <div class="card-body">
                <p><span class="text-primary"><i class="fas fa-chalkboard-teacher"></i></span> {{p.author}}</p>
                <p><span class="text-primary"><i class="fas fa-calendar-alt"></i></span> {{p.date | date: "%-d/%-m/%Y"}}</p>


				{{p.content}}
                {% if p.video != 'none' %}<a target="_blank" href="{{p.video}}" class="btn btn-danger btn-xs"><i class="fab fa-lg fa-youtube"></i> Video</a> {% endif %}
                {% if p.slides != 'none' %}<a target="_blank" href="{{site.assets}}data/{{p.slides}}" class="btn btn-primary btn-xs"><i class="fas fa-lg fa-clone"></i> Slajdovi</a> {% endif %}
                {% if p.code != 'none' %}<a target="_blank" href="{{p.code}}" class="btn btn-dark btn-xs"><i class="fab fa-lg fa-github"></i> Kod</a> {% endif %}
                {% if p.form %}<a target="_blank" href="{{p.form}}" class="btn btn-secondary btn-xs"><i class="fas fa-comments"></i> Utisci</a> {% endif %}
                {% if p.poster %}
                    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse{{p.pid}}" aria-expanded="false" aria-controls="collapse{{p.pid}}">
                        <i class="fas fa-receipt"></i> Poster
                    </button>
                {% endif %}

                <!--Prikazivanje postera koriscenog za najavu predavanja-->
                {% if p.poster %}
                <div class="collapse" id="collapse{{p.pid}}">
                    <div class="card card-body">
                        <br>
                        <br>
                        <img style='width: 400px' class='center-block img-fluid' src='{{p.poster}}'>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
    <!--<div class="col-md-1"></div>-->
</div>
