---
layout: default
title: Okupljanja
active: okupljanja
---
<div class="row">
    <!--<div class="col-md-1"></div>-->

    <!--
    <div class="col-xs-12">
        <div class="card border-primary">
            <h5 class="card-header">SLEDEĆE OKUPLJANJE: Programski jezik C: Savremeni pristup</h5>
            <div class="card-body">
                <p><span class="text-primary"><i class="fas fa-chalkboard-teacher"></i></span> Dušan Gvozdenović</p>
                <p><span class="text-primary"><i class="fas fa-calendar-alt"></i></span> 20/04/2019</p>
                <p><span class='text-primary'><i class="fas fa-clock"></i></span> 12:15h-15h učionica 821
                <p>
                    Pored C++-a, programski jezik C je već godinama unazad podrazumevani standard za pisanje sistemskog
                    softvera jer je minimalan, omogućava direktno upravljanje memorijom i pisanje izuzetno efikasnih apstrakcija.
                </p>

                <p>
                    Na predavanju ćete saznati o novim dodacima i unapređenjima koji su se pojavili u C standardu kao
                    i nestandardnim proširenjima popularnih prevodioca koji omogućavaju pisanje ekspresivnijeg koda.
                    Dušan će takođe pričati o čestim trikovima i principima u praksi o kojima se malo govori,
                    a omogućavaju razvoj bržih i tipski bezbednih struktura podataka,
                    bezbednije upravljanje memorijom kao i pisanje platformski optimizovanog koda.
                </p>

                <p>
                    Osim osnovnog znanja C-a, poželjno je poznavanje 64-bitnog asemblerskog jezika (ali nije neophodno).
                </p>

                <p>
                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Poster
                </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <img style='width: 400px' class='center-block img-fluid' src='assets/img/okupljanja/meetup17_modern_c/poster.png'>
                    </div>
                </div>

                <a target="_blank" class='btn btn-success btn-xs' href="https://docs.google.com/forms/d/e/1FAIpQLSck3NMg9Eta5Hz8G8oQpnMK1QKbubEbCqltO5s0zVZtkUNtSA/viewform?usp=sf_link" class="btn btn-info btn-xs">Prijava ako dolazite</a>
                <a target="_blank" href="https://github.com/riskmatf/risk-meetup-17-modern-c" class="btn btn-dark btn-xs"><i class='fab fa-lg fa-github'></i> GitHub repozitorijum</a>
            </div>
        </div>
    </div>
    -->


    <div class="col-xs-12">
        <!--Izlistavanje prethodnih okupljanja-->
        <br>
        {% for p in site.categories.predavanja%}
        <div class="card">
            <h5 class="card-header">{{ p.title }}</h5>
            <div class="card-body">
                <p><span class="text-primary"><i class="fas fa-chalkboard-teacher"></i></span> {{p.author}}</p>
                <p><span class="text-primary"><i class="fas fa-calendar-alt"></i></span> {{p.date | date: "%-d/%-m/%Y"}}</p>


				{{p.content}}
                {% if p.video != 'none' %}<a target="_blank" href="{{p.video}}" class="btn btn-danger btn-xs"><i class="fab fa-lg fa-youtube"></i> Video</a> {% endif %}
                {% if p.slides != 'none' %}<a target="_blank" href="{{site.assets}}data/{{p.slides}}" class="btn btn-primary btn-xs"><i class="fas fa-lg fa-clone"></i> Slajdovi</a> {% endif %}
                {% if p.code != 'none' %}<a target="_blank" href="{{p.code}}" class="btn btn-dark btn-xs"><i class="fab fa-lg fa-github"></i> Kod</a> {% endif %}
                {% if p.form %}<a target="_blank" href="{{p.form}}" class="btn btn-secondary btn-xs"><i class="fas fa-comments"></i> Utisci</a> {% endif %}
                {% if p.poster %}
                    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse{{p.pid}}" aria-expanded="false" aria-controls="collapse{{p.pid}}">
                        <i class="fas fa-receipt"></i> Poster
                    </button>
                {% endif %}

                <!--Prikazivanje postera koriscenog za najavu predavanja-->
                {% if p.poster %}
                <div class="collapse" id="collapse{{p.pid}}">
                    <div class="card card-body">
                        <br>
                        <br>
                        <img style='width: 400px' class='center-block img-fluid' src='{{p.poster}}'>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
    <!--<div class="col-md-1"></div>-->
</div>
