---
layout: default
title: /risk/predavanja
active: okupljanja
---
<div class="row">
    <!--<div class="col-md-1"></div>-->
    <div class="col-xs-12">
        <!--Najava sledeceg okupljanja-->
        <div class="card border-primary">
            <h5 class="card-header">SLEDEĆE OKUPLJANJE: Testiranje u jeziku Python, sistem Selenium i POM</h5>
            <div class="card-body">
                <p><span class="text-primary"><i class="fas fa-chalkboard-teacher"></i></span> Nikola Dimić</p>
                <p><span class="text-primary"><i class="fas fa-calendar-alt"></i></span> 16/12/2018</p>
                <p><span class='text-primary'><i class="fas fa-clock"></i></span> 15h - 18h
                </p>

                <p>
                Automatizacija procesa i pravilno održavanje koda ključan su faktor svake uspešne aplikacije ili servisa.
                Kako aplikacije tokom izmena moraju održati određen kvalitet i nivo bezbednosti, automatizacijom zamornih
                testova postižemo da u svakom trenutku naša aplikacija bude sigurna i da istovremeno testiramo stotine
                funkcionalnosti na više platformi. Uz pomoć Seleniuma i Webdriver-a možemo lako to izvesti.
                </p>
                <p>
                Na ovom predavanju biće reči o automatizaciji, Selenium-u u programskom jeziku Python, dobrim i lošim praksama pisanja održivog koda i testova, osnovnim konceptima struktuiranja koda prilikom testiranja (Page Object Model), kao i nekim konceptima razvoja aplikacija. Za kraj, biće reči i o pojedinim CI alatima, Gherkin sintaksi, Mocha i Chai bibliotekama.
                </p>
                <p>
                Kroz malu radionicu i demonstraciju koda, proći ćemo kroz ove osnove i napisati par automatizovanih testova komercijalnih sajtova.
                </p>
                <a href="https://github.com/riskmatf/risk-meetup-13-python-selenium" class="btn btn-info btn-xs">GitHub repozitorijum</a>
            </div>
        </div>

        <!--Izlistavanje prethodnih okupljanja-->
        <br>
        {% for p in site.categories.predavanja%}
        <div class="card">
            <h5 class="card-header">{{ p.title }}</h5>
            <div class="card-body">
                <p><span class="text-primary"><i class="fas fa-chalkboard-teacher"></i></span> {{p.author}}</p>
                <p><span class="text-primary"><i class="fas fa-calendar-alt"></i></span> {{p.date | date: "%-d/%-m/%Y"}}</p>


                <p>{{p.description}}</p>
                {% if p.video != 'none' %}<a href="{{p.video}}" class="btn btn-primary btn-xs">Video</a> {% endif %}
                {% if p.slides != 'none' %}<a href="{{site.assets}}data/{{p.slides}}" class="btn btn-primary btn-xs">Slajdovi</a> {% endif %}
                {% if p.code != 'none' %}<a href="{{p.code}}" class="btn btn-info btn-xs">GitHub repozitorijum</a> {% endif %}
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
    <!--<div class="col-md-1"></div>-->
</div>
