---
layout: default
active: organizacija
---

<!-- Page Heading -->
<h2 class="">Organizacioni tim
    <!-- <small>Secondary Text</small> -->
</h2>

<div class="row">
    {% for member in site.categories.org reversed %}
    {% if member.visible %}
    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-70">

            <!-- <a href="#"> -->
                <img class="card-img-top img-thumbnail img-fluid" src="{{site.assets}}/img/organizacija/{{member.slika}}" alt="">
            <!-- </a> -->

            <div class="card-body">
                <h4 class="card-title">
                    <!-- <a href="#"> -->
                    {{ member.ime }} {{ member.prezime }}
                    <!-- </a> -->
                </h4>
                <p class="card-text">
                    <i class="fas fa-tasks"></i> {{ member.posao }}
                </p>
                <i class='fa-lg {{member.emailicon}}'></i> {{member.email}}
                <br><br>
                <div class='text-center'>
                    {% for socialitem in member.social %}
                    <a href="{{socialitem.url}}">
                        <i class='fa-lg {{socialitem.icon}}'></i>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>