---
layout: default
title: /risk/predavanja
---
<ul class="clear-list">
  {% for p in site.categories.predavanja%}
    <li>
      <h3 class="text-success">{{p.title}}</h3>
      
      <h5><span class="text-success">Autor:</span> {{p.author}}</h5>
      
      <p>{{p.description}}</p>
      {% if p.video != 'none' %}<a href="{{p.video}}" class="btn btn-primary btn-xs">Video</a> {% endif %}
      
      {% if p.slides != 'none' %}<a href="{{site.assets}}data/{{p.slides}}" class="btn btn-primary btn-xs">Slajdovi</a> {% endif %}
      
      {% if p.code != 'none' %}<a href="{{p.code}}" class="btn btn-primary btn-xs">Kod</a> {% endif %}
    </li>
  {% endfor %}
</ul>
