---
layout: default
title: /risk/predavanja
active: predavanja
---
<div class="row">
  <!--<div class="col-md-1"></div>-->
  <div class="col-xs-12">
      {% for p in site.categories.predavanja%}
        <div class="card">
            <h5 class="card-header">{{ p.title }}</h5>
            <div class="card-body">
                <!--<h5 class="card-title">Special title treatment</h5>-->
                <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                <h5><span class="text-primary">Predavač <i class="fas fa-chalkboard-teacher"></i></span> {{p.author}}</h5>
                <h5><span class="text-primary">Datum <i class="fas fa-calendar-alt"></i></span> {{p.date | date: "%-d/%-m/%Y"}}</h5>


                <p>{{p.description}}</p>
                {% if p.video != 'none' %}<a href="{{p.video}}" class="btn btn-primary btn-xs">Video</a> {% endif %}
                {% if p.slides != 'none' %}<a href="{{site.assets}}data/{{p.slides}}" class="btn btn-primary btn-xs">Slajdovi</a> {% endif %}
                {% if p.code != 'none' %}<a href="{{p.code}}" class="btn btn-info btn-xs">GitHub repozitorijum</a> {% endif %}
            </div>
        </div>
        <br>
      {% endfor %}
  </div>
  <!--<div class="col-md-1"></div>-->
</div>
