<!-- Footer -->
<footer class="page-footer font-small mdb-color bg-light lighten-3 pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Content -->
          <!-- <h5 class="font-weight-bold text-uppercase mb-4">RISK</h5> -->
          <img src="https://i.imgur.com/vPIuIJr.png" class='img-fluid' style='width: 100px' alt='risk logo'>
          <br>
          <br>
          <p>Ne idi utabanim putem. Umesto toga kreni tamo gde puta nema i ostavi trag.</p>
          <!-- <img src="https://i.imgur.com/vPIuIJr.png" class='img-fluid' style='width: 100px' alt='risk logo'> -->

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

          <div class="d-inline-flex flex-column" style="text-align: left">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mb-4">Navigacija</h5>

              <ul class="list-unstyled">
                {% for navitem in site.data.navitems %}
                  {% if navitem.visible %}
                    <li>
                      <p>
                          <a href="{{site.baseurl}}/{{navitem.url}}">
                            <i class='{{navitem.iconclasses}} mr-2'></i>
                            {{navitem.name | upcase }}
                          </a>
                      </p>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>

          </div>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Kontakt</h5>

          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fa fa-home mr-2"></i> Studentski Trg 16, Beograd</p>
            </li>
            <li>
              <p>
                <i class="fa fa-envelope mr-2"></i> risk@alas.matf.bg.ac.rs</p>
            </li>
            <!-- <li> <p> <i class="fa fa-phone mr-2"></i> + 01 234 567 88</p> </li>
            <li> <p> <i class="fa fa-print mr-2"></i> + 01 234 567 89</p> </li> -->
          </ul>

        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

          <!-- Social buttons -->
          <h5 class="font-weight-bold text-uppercase mb-4">Pratite nas</h5>

          {% for socialitem in site.data.social %}
            <a target="_blank" href="{{socialitem.url}}" type="button" class="btn btn-social-icon btn-{{socialitem.name}}">
              <span class="{{socialitem.awesome-icons}}"></span>
            </a>
          {% endfor %}
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 RISK
      <!-- <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a> -->
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
