<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <div class="container-fluid navbar-container">
            <img style='width: 90px' 'navbar-brand' src="https://i.imgur.com/vPIuIJr.png">
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for navitem in site.data.navitems %}
                <li class='{% if page.active == navitem.active %}active{% endif %} nav-item'>
                    <a class='nav-link' href="{{site.baseurl}}/{{navitem.url}}">
                        {{ navitem.icon }}
                        {{ navitem.name }}
                    </a>
                </li>
            {% endfor %}
            <!-- <li class='{% if page.url contains 'ind' %}active{% endif %} nav-item'><a class='nav-link' href="/index.html">Početna</a></li>
            <li class='{% if page.url contains '/predavanja' %}active{% endif %} nav-item'><a class='nav-link' href="/predavanja.html">Predavanja</a></li>
            <li class='{% if page.url contains '/blog' %}active{% endif %} nav-item'><a class='nav-link' href="/blog.html">Blog</a></li>
            <li class='{% if page.url contains '/galerija' %}active{% endif %} nav-item'><a class='nav-link' href="/galerija.html">Galerija</a></li>  -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-smile-beam"></i>
                    Vaš doprinos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a target="_blank" class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSfg1xM9EjhyOcUR9AIpQm6bhq6RflLOhWriCPTwl2TiNviAhA/viewform?usp=sf_link">Prijava predavanja (anketa)</a>
                    <a target="_blank" class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSfyLBaMQ2GZSKtlfYxcKnLtZiJLp-RCRBxji1bMAaFeuM16sw/viewform?usp=sf_link">Šta bi voleli da slušate (anketa)</a>
                    <!-- <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Kontakt</a> -->
                </div>
            </li>
        </ul>
        <!--TODO - raspadne se na telefonu -->
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a href="{{site.data.social['facebook']}}" class="nav-link"><i class="fab fa-lg fa-facebook"></i></a></li>
			<li class="nav-item"><a href="{{site.data.social['github']}}" class="nav-link"><i class="fab fa-lg fa-github"></i></a></li>
			<li class="nav-item"><a href="{{site.data.social['instagram']}}" class="nav-link"><i class="fab fa-lg fa-instagram"></i></a></li>
            <li class="nav-item"><a href="{{site.data.social['email']}}" class="nav-link"><i class="fas fa-lg fa-envelope"></i></a></li>
        </ul>
    </div>
</nav>
