<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img style="max-height:100%; max-width:100%; object-fit contain"src="https://i.imgur.com/vPIuIJr.png"></img></a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/index.html" >Početna</a></li>
        <!-- <li><a href="/obavestenja.html">Obaveštenja</a></li> -->
        <li><a href="/predavanja.html" >Predavanja</a></li>
        <!-- <li><a href="/projekti.html" >Projekti</a></li> -->
        <li><a href="https://github.com/riskmatf">GitHub</a></li>
        <li><a href="https://www.facebook.com/groups/1192849077458638/">Facebook</a></li>
      </ul>
    </div>
  </nav>
</header>
