<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="https://i.imgur.com/vPIuIJr.png"></img></a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li class="{% if page.url='/index.html'%} active{% endif %}"><a href="/index.html" >Pocetna</a></li>
        <li><a href="/obavestenja.html">Obavestenja</a></li>
        <li class="{% if page.url='/predavanja.html'%} active{% endif %}"><a href="/predavanja.html" >Predavanja</a></li>
        <li class="{% if page.url='/projekti.html' %} active{% endif %}"><a href="/projekti.html" >Projekti</a></li>
        <li class="{% if page.url='/algoritmi.html' %} active{% endif %}"><a href="/algoritmi.html" >Algoritmi</a></li>
        <li class="{% if page.url='/projekti.html' %} active{% endif %}"><a href="/chat.html" >Chat</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/riskmatf"><i class="fa fa-github fa-lg"></i></a></li>
        <li><a href="https://www.facebook.com/groups/1192849077458638/"><i class="fa fa-facebook fa-lg "></i></a></li>
      </ul>
    </div>
  </nav>
</header>
