<div class='row' style="padding-left: 1.25rem">
    <img class='img-fluid img-thumbnail blog-header-img' src="{{site.baseurl}}/assets/img/people_images/{{ include.page.authorimg }}" alt="Autorova slika">
    <div style="margin-left: 15px">
        <p><span class="text-primary"><i class="fas fa-chalkboard-teacher"></i></span> {{include.page.author}}</p>
        <p><span class="text-primary"><i class="fas fa-calendar-alt"></i></span> {{include.page.date | date: "%-d/%-m/%Y"}}</p>
    </div>
</div>