.clear-list {
	list-style-type: none;
}

.panel-li {
	padding:0 15px;
	padding-bottom:10px;
}

body {
	padding-top:70px;
}

.crop {
	height : 200px; 
	overflow : hidden;
}
.crop img {
	display : block;
	width : 100%;
	position : absolute;
	bottom : 0;
}