.desktop-layout
{
    height: 70vh;
    overflow-y: hidden;
    overflow-x:hidden;
}

.mobile-layout
{

}

.img
{
    height: 5vw;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:cover;
}

.album
{
    font-weight: bold;
    cursor: pointer;
}

.album-underline
{
    width: 0px;
    background-color: #00aeef;
    height: 2.5px;

}

.cover-all
{
    position: fixed;
    left: 0;
    top:0;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    padding: 10px;
}

#imageview
{
    background-color: black;
    height: 80vh;
}

.carousel-image-container
{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

#album_title
{
    text-align: center;
}

.album-active
{
    background-color: #00aeef!important;
    border-color: #00aeef!important;
    color:white;
}
