<html>

<head>
	{% include includes.html %}

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="UTF-8">

	<link rel="icon" type="image/png" href="favicon_96.png" sizes="96x96">


	{% for style in page.styles %}
		<link rel='stylesheet' type='text/css' href="{{style}}"/>
	{% endfor %}

	{% for script in page.scripts %}
		<script type='text/javascript' src="{{script}}"></script>
	{% endfor %}

	<title>{{page.title}}</title>
</head>

<body>
	{% include header.html %}

	<div class="container">
		<!--Required in order to offset everything from fixed navbar-->
		<div class='col-xs-12'>
			<br> <br> <br>
		</div>

		{{ content }}
	</div>
	<br>
	{% include footer.html %}
</body>
</html>
