<html>
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="{{site.assets}}css/bootstrap.min.css">
	<link rel="stylesheet" href="{{site.assets}}css/darkly.min.css">
	<link rel="stylesheet" href="{{site.assets}}css/custom.css">

	<script type="text/javascript" src="{{site.assets}}js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="{{site.assets}}js/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{site.assets}}js/lib/typed.js"></script>

	<title>{{page.title}}</title>
</head>
<body>
	<div class="container">
			{% include header.html %}
		  {{ content }}
	</div>
</body>
</html>
